@import "compass";
@import "normalize-scss/normalize";
@import "slider";
@import "gauge";


.container {
    margin: 20px auto;
    width: 1000px;
}


.slider-view-port {
    width: 100%;
    height: 70%;
}


.feedbackContainer {
    width: 100%;
    height: 250px;
    border: 1px solid #CCC;
    @include border-radius(3px);
    @include box-shadow(
        0px 0px 8px #666
    );

    .subContainer {
        width: 230px;
        height: 100%;
        float: left;
        padding: 0px 10px 0px 9px;
        border-right: 1px dashed #CCC;

        &.fixedWidth {
            width: 230px !important;
            border: none;
        }

        &>h3{
            text-align: center;
            line-height: 1.3;
            font-weight: 200;
            color: #666;
        }

        &>.bigGaugeContainer{
            &>.gauge{
                margin: 10px auto;
                width: 140px;
                height: 140px;
            }

            &>.description{
                margin-top: 10px;
                text-align: center;
                &>.h1{
                    line-height: 1;
                    font-weight: 500;
                    color: #333;
                    font-size: 17px;
                }
                &>.h2{
                    font-weight: 400;
                    color: #555;
                }
            }
        }

        .gaugeContainer{
            width: 90px;
            float: left;
            text-align: center;
            margin-left: 20px;

            .gauge{
                width: 90px;
                height: 90px;
            }

            .description{
                margin-top: 10px;
                &>.h3{
                    line-height: 1;
                    font-weight: 500;
                    color: #333;
                }
                &>.h4{
                    font-weight: 400;
                    color: #555;
                }
            }
        }
    }


}



