@import "compass";

.mega-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    &>.mega-slide{
        display: inline-block;
    }

    .mega-slide-element {
        display: inline-block;
        @include clearfix;
    }



    &>.indicator{
        bottom: 0;
        left: 50%;
        position: absolute;
        z-index: 300;
        &>.dot {
            cursor:pointer;
            background:url('../img/indicator.png') no-repeat;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            float: left;
            &.filled {
                background:url('../img/indicator.png') -15px 0px no-repeat;
            }
        }
    }
}
